<div class="mb-4 font-bold">ARTICLES REPORT</div>
<div class="p-4 mb-8 bg-white neeto-ui-shadow-s rounded">
  <table class="table">
    <thead>
        <tr>
          <th>TITLE</th>
          <th>CATEGORY</th>
          <th>UPDATED AT</th>
          <th>VISITS</th>
        </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.category.title %></td>
          <td><%= article.updated_at.in_time_zone("Mumbai").strftime("%B %d, %Y") %></td>
          <td><%= article.visits_count %></td>
        </tr>
        <% if article.visits_count > 0 %>
          <tr class="w-full">
            <td>
              <div>DETAILED REPORT OF : <%= article.title %></div>
              <table>
                <thead>
                  <tr>
                    <th>DATE</th>
                    <th>VISITS</th>
                  </tr>
                </thead>
                <tbody>
                  <% article.visits.group_by_day(:created_at, format: "%B %d, %Y").count.each do | date, count | %>
                  <% unless count.zero? %>
                    <tr>
                      <td><%= date %></td>
                      <td><%= count %></td>
                    </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
